* {
    box-sizing: border-box;
}
#app{
    border: 5px solid black;
    background-color: cornsilk;
}
button {
    background-color: darkred;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    outline: none;
    display: block;
    cursor: pointer;
    width: auto;
}

button:hover {
    opacity: 0.8;
}

.container{
    border: 1px solid black;
    display: grid;
    grid-template-columns: auto;
    background-color: #2196F3;
    padding: 10px;
    position: relative;
    border-radius: 5px;
}

.container > div {
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid black;
    text-align: center;
}
/* Menu Header */
.topnav{
    overflow: hidden;
    background-color: #333;
}
.topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    background-color: black;
    text-align: center;
    padding: 20px 10px;
    text-decoration: none;
    font-size: 17px;
}.topnav button {
     float: left;
     border: none;
     color: #f2f2f2;
     background-color: black;
     text-align: center;
     padding: 20px 10px;
     text-decoration: none;
     font-size: 17px;
     margin: auto;
 }
.topnav a:hover {
    background-color: #ddd;
    color: black;
}
.topnavleft{
    float: left;
}
.topnavright{
    float: right;
}
/* Boton Nuevo */
.dropdown {
    float: left;
    overflow: hidden;
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
.dropdown-content a {
    float: none;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.topnav a:hover, .dropdown:hover .dropbtn {
    background-color: #555;
    color: white;
}

.dropdown-content a:hover {
    background-color: #ddd;
}

.dropdown:hover .dropdown-content {
    display: block;
}

/* HOME */
.Home{
    border: 1px solid green;
    background-color: darkolivegreen;
}
.col {
    float: left;
    width: 50%;
    margin: auto;
    padding: 10px;
}
.row:after {
    content: "";
    display: table;
    clear: both;
}

/* LOGIN */
input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0 4px;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    text-align: center;
}

/* Extra styles for the cancel button */
.cancelbtn {
    width: auto;
    padding: 10px 18px;
    background-color: #f44336;
}

/* Center the image and position the close button */
.imgcontainer {
    text-align: center;
    margin: 24px 0 12px 0;
    position: relative;
}

img.avatar {
    width: 20%;
    border-radius: 50%;
}

span.psw {
    float: right;
    padding-top: 16px;
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    padding-top: 60px;
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button (x) */
.close {
    position: absolute;
    right: 25px;
    top: 0;
    color: #000;
    font-size: 35px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: red;
    cursor: pointer;
}

/* Add Zoom Animation */
.animate {
    -webkit-animation: animatezoom 0.6s;
    animation: animatezoom 0.6s
}

@-webkit-keyframes animatezoom {
    from {-webkit-transform: scale(0)}
    to {-webkit-transform: scale(1)}
}

@keyframes animatezoom {
    from {transform: scale(0)}
    to {transform: scale(1)}
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
    span.psw {
        display: block;
        float: none;
    }
    .cancelbtn {
        width: 100%;
    }
}

/* style inputs and link buttons */
input,
.btn {
    width: 100%;
    padding: 12px;
    border: none;
    border-radius: 4px;
    margin: 5px 0;
    opacity: 0.85;
    display: inline-block;
    font-size: 17px;
    line-height: 20px;
    text-decoration: none; /* remove underline from anchors */
}

input:hover,
.btn:hover {
    opacity: 1;
}

/* add appropriate colors to fb, twitter and google buttons */
.fb {
    background-color: #3B5998;
    color: white;
}

.twitter {
    background-color: #55ACEE;
    color: white;
}

.google {
    background-color: #dd4b39;
    color: white;
}

/* 2DO REGISTRO */
.register-card {
    margin: 32px 0;
    padding: 18px 0 22px 30px;
    overflow: visible;
}
constructed stylesheet
.ui-card {
    background-color: #fff;
    border-radius: 4px;
    box-shadow: 0 1px 3px rgba(0,0,0,.2);
    overflow: hidden;
}
.register-card .ui-form {
    display: inline-block;
    margin-right: 35px;
}
.register-card .ui-form .register-input {
    display: inline-block;
    width: 256px;
    vertical-align: top;
    margin-top: 24px;
}
constructed stylesheet
.andes-form-control {
    font-family: Proxima Nova,-apple-system,Helvetica Neue,Helvetica,Roboto,Arial,sans-serif;
    font-size: 18px;
    position: relative;
    padding-top: .66667em;
    font-weight: 400;
    display: block;
    -webkit-font-smoothing: antialiased;
    text-align: left;
}